.homepage-featured__property {
    width: 20%;
    border: 1px solid var(--borders);
    border-radius: 1rem;
}

.homepage-featured__img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.homepage-featured__body {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.homepage-featured__title {
    font-size: 1.5rem;
}

.homepage-featured__address,
.homepage-featured__type {
    font-size: 1.3rem;
}

/* Media queries */

/* 4K Resolution */
@media (min-width: 2560px) {
    .homepage-featured__title {
        font-size: 2rem;
    }

    .homepage-featured__address,
    .homepage-featured__type {
        font-size: 1.7rem;
    }
}

/*Large Laptop */
@media (max-width: 1670px) {
    .homepage-featured__title {
        font-size: 1.3rem;
    }

    .homepage-featured__address,
    .homepage-featured__type {
        font-size: 1.1rem;
    }
}

/* Small laptop */
@media (max-width: 1024px) {
    .homepage-featured__title {
        font-size: 1.2rem;
    }

    .homepage-featured__address,
    .homepage-featured__type {
        font-size: 1rem;
    }
}

/* Tablet */
@media (max-width: 900px) {
    .homepage-featured__property {
        display: flex;
        justify-content: space-between;
        width: 80%;
        border: none;
    }

    .homepage-featured__body {
        padding-bottom: 0;
        justify-content: center;
    }

    .homepage-featured__img-container {
        width: 50%;
    }

    .homepage-featured__img {
        margin-bottom: 0;
    }


    .homepage-featured__title {
        font-size: 1.2rem;
    }

    .homepage-featured__address,
    .homepage-featured__type {
        font-size: 1.1rem;
    }
}

/*Mobile S-L */
@media (max-width: 425px) {

    .homepage-featured__property {
        gap: 0.5rem;
    }

    .homepage-featured__title {
        font-size: 0.8rem;
    }

    .homepage-featured__address,
    .homepage-featured__type {
        font-size: 0.7rem;
    }
}