.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--footer);
    border-top: 1px solid var(--borders);
    padding: 1rem 0;
}

.footer__copyright {
    font-size: 1.5rem;
}

.footer-socials {
    display: flex;
    gap: 1rem;
    font-size: 2rem;

}