.showcase {
    overflow: hidden;
    position: relative;
}

.showcase__headings {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.showcase__main-heading {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.showcase__sub-heading {
    font-size: 2.5rem;
}

.showcase__house-img {
    width: 100%;
    object-fit: cover;
}

.showcase__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* Media queries */

/*Large Laptop */
@media (max-width: 1670px) {
    .showcase__main-heading {
        font-size: 3rem;
    }

    .showcase__sub-heading {
        font-size: 1.8rem;
    }
}
/* Small laptop */
@media (max-width: 1024px) {
    .showcase__main-heading {
        font-size: 2rem;
    }

    .showcase__sub-heading {
        font-size: 1.2rem;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .showcase__main-heading {
        font-size: 1.5rem;
    }

    .showcase__sub-heading {
        font-size: 0.9rem;
    }
}

/*Mobile S-L */
@media (max-width: 425px) {
    .showcase__main-heading {
        font-size: 1rem;
    }

    .showcase__sub-heading {
        font-size: 0.8rem;
    }
}

