/* Global reset */
*,
*::before,
*::after {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* Global variables */

:root{
  --h2-text: #333333;
  --h3-text: #222222;
  --p-text-dark: #404040;
  --p-text-light: #737373;
}

/* Global styles */

html {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
