/* Global reset */
*,
*::before,
*::after {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* Global variables */

:root{
  --nav-selected: antiquewhite;
}

/* Global styles */

html {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: inherit;
}
