.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header__logo {
    padding-left: 5rem;
}

.header__navigation {
    padding-right: 5rem;
    display: flex;
    align-items: center;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.header__logo-img {
    height: 4rem;
}

/* Media queries */

/* Tablet */
@media (max-width: 768px) {
    .header__logo {
        padding-left: 0rem;
    }

    .header__navigation {
        padding-right: 0rem;
    }

    .header__link-item {
        font-size: 0.5rem;
    }
}