.header__link-item {
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.2rem;
}

.header__link-item--selected {
    background-color: var(--nav-selected);
}

.header__link-item--hover:hover {
    background-color: var(--nav-selected);
}

/* Media queries */

/* Tablet */
@media (max-width: 768px) {
    .header__link-item {
        padding: 0.3rem;
        font-size: 0.8rem;
    }
}